<div class="max-w-xl mx-auto px-4">
  <h1 class="text-lg font-semibold mb-2">料理記録の編集</h1>

  <% if @cooking_record.errors.any? %>
    <ul>
      <% @cooking_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @cooking_record, class: "space-y-4" do |f| %>
    <div>
      <%= f.label :cooked_on, '作った日', class: "text-base font-bold" %><br>
      <%= f.date_field :cooked_on, class: "w-full mt-2 p-3 rounded-md text-base bg-gray-200 text-gray-700" %>
    </div>

    <div>
      <%= f.label :dish_name, '料理名', class: "text-base font-bold" %><br>
      <%= f.text_field :dish_name, class: "w-full mt-2 p-3 rounded-md text-base bg-gray-200" %>
    </div>

    <div>
      <%= f.label :recipe_url, '参考レシピ（URL）', class: "text-base font-bold" %><br>
      <%= f.text_field :recipe_url, class: "w-full mt-2 p-3 rounded-md text-base bg-gray-200" %>
    </div>

    <div>
      <%= f.label :memo, 'メモ', class: "text-base font-bold" %><br>
      <%= f.text_area :memo, rows: 5, class: "w-full mt-2 p-3 rounded-md text-base bg-gray-200" %>
    </div>

    <div>
      <%= f.submit '保存する', class: "mt-4 py-3 block w-full max-w-xl mx-auto flex items-center justify-center rounded-md font-bold text-white bg-[#FFC943]" %>
    </div>
  <% end %>
  <%= link_to '戻る', cooking_record_path(@cooking_record), class: "mt-4 py-3 block w-full max-w-xl mx-auto flex items-center justify-center rounded-md font-bold text-white bg-[#212121]" %>
</div>
