<div class="max-w-xl mx-auto px-4">
  <h1 class="mb-4 text-lg font-semibold">設定画面</h1>
  <%= link_to 'ユーザー・通知設定', '#', class: "h-12 mb-4 block w-full flex items-center justify-start px-6 rounded-md font-bold bg-gray-200" %>
  <div class="mb-4 bg-gray-200">
    <%= link_to '利用規約', '#', class: "h-12 block w-full flex items-center justify-start px-6 rounded-md font-bold bg-gray-200" %>
    <%= link_to 'プライバシーポリシー', '#', class: "h-12 block w-full flex items-center justify-start px-6 rounded-md font-bold bg-gray-200" %>
    <%= link_to 'お問い合わせ・不具合報告', '#', class: "h-12 block w-full flex items-center justify-start px-6 rounded-md font-bold bg-gray-200" %>
  </div>
  <%= link_to '退会', user_registration_path, data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？\n保存した記録はすべて削除され、復元できません。" }, class: "h-12 mb-4 block w-full flex items-center justify-start px-6 rounded-md font-bold bg-gray-200 text-[#D32F2F]" %>
</div>
