<nav aria-label="グローバルナビ" class="fixed inset-y-0 left-0 w-64 p-4 overflow-y-auto space-y-4 bg-gray-200">
  <%= link_to "Cooklog", dashboard_path, class: "font-bold text-lg" %>
  <%= link_to "ホーム", dashboard_path, class: "pt-4 block" %>
  <%= link_to "料理記録一覧", cooking_records_path, class: "block" %>
  <%= link_to "料理記録を追加", new_cooking_record_path, class: "block" %>
  <%= link_to "習慣化Tips", '#', class: "block" %>
  <%= link_to "設定", setting_path, class: "block" %>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "block pt-4 font-bold text-[#D32F2F]" %>
</nav>
