<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cooklog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="bg-gray-200">
      <div class="max-w-5xl mx-auto flex items-center justify-end gap-8 py-4 px-6">
        <% if user_signed_in? %>
          <!-- ログイン済みならログアウトだけ表示 -->
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "font-bold" %>
        <% else %>
          <!-- ログインリンク -->
          <%= link_to "ログイン", new_user_session_path, class: "font-bold" %>
          <!-- 会員登録ボタン -->
          <%= link_to "会員登録", new_user_registration_path, class: "inline-block rounded-full px-6 py-2 font-bold text-white bg-[#FFC943]" %>
        <% end %>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
